/* form {
    font-family: europa, sans-serif;
} */

.sign-in {
    /* IMPORT FONT!!! same as logo font.
    the rest use europa. */
    font-family: europa, sans-serif;
    font-weight: 600;
}

.card {
    /* border: black solid 4px; */
    background-color: #1DC642;
    font-family: europa, sans-serif;
    color: white;
    border-radius: 30px;

}

input {
    border: white solid 2px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.sub-btn {
    border: 2px solid white;
    background-color: #1DC642;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    /* padding-top: px; */
    /* padding-bottom: 8px; */
}

.sub-btn:hover {
    background-color: rgba(255, 255, 255, 0.342);
}



a {
    color: #1DC642 !important;
}

.card {
    width: 500px;
    margin: 150px auto;
    text-align: center;
    /* font-family: europa, sans-serif; */
}

.button-green {
    background: #1DC642;
}

.new-user {
    color: white;
}