/* form {
    font-family: europa, sans-serif;
} */

.sign-in {
    /* IMPORT FONT!!! same as logo font.
    the rest use europa. */
    font-family: europa, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;


}

.card {
    /* border: black solid 4px; */
    background-color: #1DC642;
    font-family: europa, sans-serif;
    color: white;
    border-radius: 30px;
    width: 500px;
    margin: 150px auto;
    text-align: center;
    font-family: europa, sans-serif;
    border-radius: 20px;
    
    box-shadow: 10px 10px rgb(0, 0, 0);

}

.boom {
    text-align: left;
}

input {
    border: white solid 2px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 20px;
    margin-bottom: 10px;
}

.sub-btn {
    border: 2px solid white;
    background-color: #1DC642;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    transform: translateX(1);
    transition: transform 0.5s ease;
}

.sub-btn:hover {
    transform: translateX(10px);

    background-color: rgba(255, 255, 255, 0.342);
}





a {
    color: #1DC642 !important;
}



.button-green {
    background: #1DC642;
}

.new-user {
    color: black;
    margin-bottom: -13px;
    /* background-color: white; */
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    transform: translateX(1);
    transition: transform 0.5s ease;
}

.new-user:hover {
    transform: translateX(10px);
text-decoration: underline rgba(255, 255, 255, 0.486);
background-color: rgba(255, 255, 255, 0.486); 
}

