.navbar {
    font-family: europa, sans-serif;
    font-size: 20px;
}

.navbar ul li {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 20px;
}

.navThing:hover {
    transform: translateY(10)
}

.a {
    color: #1DC642;
}

.login-button {
    background: #1DC642;
    padding: 10px 20px;
    border-radius: 5px;
}

 a.login-button {
    color: white !important;
}


.logo {
    width:200px;
   text-align: center;  
}