.container {
    text-align: center;
}


.navbar {
    font-family: europa, sans-serif;
    font-size: 12;
    text-align: center;
}

.navbar ul li {
    box-sizing: border-box;
    display: inline-block;
    /* padding-right: 50px; */
    letter-spacing: 2px;
}

.prof,
.wall,
.notif,
.mes {
    padding-right: 20px;
}




.login-button {
    border: solid 1px #1DC642;

    text-align: center;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}



.logo {
    width:400px;
   text-align: center;  
}